body {
    background-color: aqua;
}

h1{
    background-color: palegoldenrod;
    text-transform: capitalize;
}
h2{
    font-size: medium;
}
h3{
    color: beige;
    text-decoration-color: powderblue;
}
h4{
    color: blue;
    text-align: left;
}